.image-container {
  list-style-type: none;
  background-color: #1f1f2f;
  margin: 10px;
  background-size: cover;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.image {
  height: 130px;
  width: 250px;
}

.image-bottom {
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: Roboto;
  color: #94a3b8;
  font-size: 15px;
  padding: 10px;
}

.remove-button {
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  color: #cbd5e1;
  padding: 15px;
  font-weight: bold;
  height: 40px;
  margin: 15px;
  background-color: transparent;
}
